body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header {
    display: flex;
    justify-content: space-between;  /* ← 左右を分ける */
    align-items: center;
    padding: 1em;
    gap: 1em;
  }
  
.left h1 {
    margin: 0;
  }
  
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    gap: 0.3em;
  }
  
#time-slider {
    width: 400px; 
  }
  
#any-time {
    color: gray;
    font-style: italic;
  }
  
#selected-time {
    display: block;
  }